<!DOCTYPE html>
<html lang="en" ng-app="CalendarApp">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Angular Calendar App</title>
  <link rel="stylesheet" href="../res/style.css">
  <script src="angular.js"></script>
  <script type="module" src="view.js"></script>
</head>

<body>
  <div id="container" ng-controller="CalendarController as calendar">
    <table>
      <thead class="navBar">
        <td class="{{calendar.conflict(day.conflict)}} {{calendar.active(day.current)}}" ng-repeat="day in calendar.days">
          <a ng-click="calendar.setCurrentDay(day)">
            {{calendar.dayShort(day.date)}} {{day.date.getMonth() + 1}}/{{day.date.getDate()}}
          </a>
        </td>
      </thead>
      <tbody>
        <td class="{{calendar.conflict(day.conflict)}} {{calendar.active(day.current)}}" ng-repeat="day in calendar.days">
          <ul class="navTasks">
            <li ng-repeat="task in day.tasks">
              {{task.title}}
            </li>
          </ul>
        </td>
      </tbody>
    </table>
    <div ng-if="calendar.currentDay">
      <h1>
        {{calendar.dayWeek(calendar.currentDay.date)}}
      </h1>
      <ul class="tasks">
        <li class="task {{calendar.conflict(task.conflict)}}" ng-repeat="task in calendar.currentDay.tasks">
          <ul class="row">
            <li class="taskTime">
              <span ng-if="!task.editing">
                {{(task.time.getHours() + "").padStart(2, '0')}}:{{(task.time.getMinutes() + "").padStart(2, '0')}}
              </span>
              <input ng-if="task.editing" ng-model="task.time" type="time">
            </li>
            <li class="taskTitle">
              <span ng-if="!task.editing">{{task.title}}</span>
              <input ng-if="task.editing" ng-model="task.title">
            </li>
            <li class="taskEdit">
              <input ng-if="!task.editing" ng-click="calendar.editingTask(task)" value="Edit" type="button">
              <input ng-if="task.editing" ng-click="calendar.confirmTask(task)" value="Confirm" type="button">
            </li>
            <li class="taskDelete">
              <input ng-if="!task.editing" ng-click="calendar.deleteTask(task)" value="Delete" type="button">
            </li>
          </ul>
          <div>
            <span ng-if="!task.editing">{{task.description}}</span>
            <textarea ng-if="task.editing" ng-model="task.description"></textarea>
          </div>
        </li>
        <li class="task">
          <ul class="row">
            <li class="taskTime">
              <input type="time" ng-model="calendar.currentDay.newTask.time" value="12:00"></li>

            <li class="taskTitle">
              <input type="input" ng-model="calendar.currentDay.newTask.title" placeholder="Add a new task"></li>

            <li class="taskAdd">
              <input type="button" ng-click="calendar.addTask(calendar.currentDay.newTask)" value="Add"></li>
          </ul>
          <div>
            <textarea ng-model="calendar.currentDay.newTask.description" placeholder="Add a description to your task"></textarea></div>
        </li>
      </ul>
    </div>
  </div>
</body>

</html>